@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Fonts ===== */
@font-face {
  font-family: 'Nunito';
  font-weight: 300 400 600 700;
  font-display: swap;
  font-style: italic;
  src: url('./fonts/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 300 400 600 700;
  font-display: swap;
  font-style: normal;
  src: url('/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Vollkorn';
  font-weight: 300 400 600 700;
  font-display: swap;
  font-style: italic;
  src: url('./fonts/Vollkorn-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Vollkorn';
  font-weight: 300 400 600 700;
  font-display: swap;
  font-style: normal;
  src: url('/fonts/Vollkorn-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Vollkorn';
  font-weight: 300 400 600 700;
  font-display: swap;
  font-style: italic;
  src: url('./fonts/Vollkorn-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Vollkorn';
  font-weight: 300 400 600 700;
  font-display: swap;
  font-style: normal;
  src: url('/fonts/Vollkorn-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url('/fonts/BarlowCondensed-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-weight: 700;
  font-display: swap;
  font-style: italic;
  src: url('/fonts/BarlowCondensed-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow';
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url('/fonts/Barlow-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow';
  font-weight: 500;
  font-display: swap;
  font-style: italic;
  src: url('/fonts/Barlow-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow';
  font-weight: 600;
  font-display: swap;
  font-style: normal;
  src: url('/fonts/Barlow-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow';
  font-weight: 600;
  font-display: swap;
  font-style: italic;
  src: url('/fonts/Barlow-SemiBoldItalic.ttf') format('truetype');
}

/* MS Edge web: avoid input fields with password type to display the default eye icon of the browser when inputting value. */
/* Safari web: avoid input fields to have outline on focus. */
::-ms-reveal {
  display: none;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  color: var(--gray-900);
}

:root {
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --bg-body: rgb(245, 245, 244);
  --gray-900: #1f1c17;

  /* Safari web: avoid the font weight in Safari web to be darker than the other browsers. */
  font-synthesis: none;
}

* {
  transition: all 100ms;
}

/* ===== Responsive Fontsize ===== */
.TextFontSizeResponsive--default {
  @apply text-12 leading-14 laptop:text-14 laptop:leading-16;
}

.TextFontSizeResponsive--xs {
  @apply text-12 leading-14;
}

.TextFontSizeResponsive--sm {
  @apply text-14 leading-16;
}

.TextFontSizeResponsive--md {
  @apply text-16 leading-18;
}

.TextFontSizeResponsive--lg {
  @apply text-18 leading-20;
}

.TextFontSizeResponsive--xl {
  @apply text-20 leading-22;
}

.TextFontSizeResponsive--2xl {
  @apply text-24 leading-26;
}

.HeadingFontSizeResponsive--xs {
  @apply text-16 leading-22;
}

.HeadingFontSizeResponsive--sm {
  @apply text-18 leading-24;
}

.HeadingFontSizeResponsive--md {
  @apply text-22 leading-26;
}

.HeadingFontSizeResponsive--lg {
  @apply text-24 leading-28;
}

/* ===== Responsive Modal ===== */
.ModalWidthResponsive {
  @apply min-w-288 tablet:min-w-368 laptop:min-w-480;
}

/* ===== Responsive Stack ===== */
.StackPaddingResponsive {
  @apply px-12 laptop:px-24 py-24 laptop:py-28;
}

.StackPyResponsive {
  @apply py-12 laptop:py-24;
}

/* ===== Devider ===== */
.DeviderBottom {
  @apply border-b-[0.5px] border-beige-200;
}

/* ===== Animiation ===== */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0);
  }
}

.Animation--fadeIn {
  opacity: 0;
  animation: fadeIn 0.8s ease forwards;
}

.Animation--slideIn {
  transform: translateX(-15px);
  animation: slideIn 0.8s ease forwards;
}

.Animation--fadeSlideIn {
  opacity: 0;
  transform: translateX(-15px);
  animation:
    fadeIn 0.8s ease forwards,
    slideIn 0.8s ease forwards;
}
