@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slideIn {
  animation: slideIn 0.5s forwards;
}

.MenuDrawerItem {
  @apply opacity-0 transform -translate-x-20 animate-slideIn;
}

@media (max-width: 640px) {
  .animate-slideIn {
    animation-duration: 0.3s; /* Faster for mobile */
  }
}
