@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    /* backface-visibility: hidden; */
  }
}

.Animation--slideIn {
  opacity: 0;
  transform: translateX(-15px);
  animation: slideIn 0.5s forwards;
}
