@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Fonts ===== */
@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-display: swap;
  font-style: italic;
  src: url('./public/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300 400 600 700;
  font-display: swap;
  font-style: normal;
  src: url('/public/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--grey);
}

:root {
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --bg-body: rgb(245, 245, 244);
  --grey: #262626;
}

* {
  transition: all 300ms;
}
