@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Fonts ===== */
@font-face {
  font-family: 'Nunito';
  font-weight: 300 400 600;
  font-display: swap;
  font-style: italic;
  src: url('./fonts/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 300 400 600 700;
  font-display: swap;
  font-style: normal;
  src: url('/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Vollkorn';
  font-weight: 300 400 600 700;
  font-display: swap;
  font-style: italic;
  src: url('./fonts/Vollkorn-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Vollkorn';
  font-weight: 300 400 600 700;
  font-display: swap;
  font-style: normal;
  src: url('/fonts/Vollkorn-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Vollkorn';
  font-weight: 300 400 600 700;
  font-display: swap;
  font-style: italic;
  src: url('./fonts/Vollkorn-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Vollkorn';
  font-weight: 300 400 600 700;
  font-display: swap;
  font-style: normal;
  src: url('/fonts/Vollkorn-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url('/fonts/BarlowCondensed-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-weight: 700;
  font-display: swap;
  font-style: italic;
  src: url('/fonts/BarlowCondensed-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow';
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url('/fonts/Barlow-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow';
  font-weight: 500;
  font-display: swap;
  font-style: italic;
  src: url('/fonts/Barlow-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow';
  font-weight: 600;
  font-display: swap;
  font-style: normal;
  src: url('/fonts/Barlow-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow';
  font-weight: 600;
  font-display: swap;
  font-style: italic;
  src: url('/fonts/Barlow-SemiBoldItalic.ttf') format('truetype');
}

/* MS Edge web: avoid input fields with password type to display the default eye icon of the browser when inputting value. */
/* Safari web: avoid input fields to have outline on focus. */
::-ms-reveal {
  display: none;
}

body {
  font-family: 'Nunito', sans-serif;
  color: var(--gray-900);
}

:root {
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --bg-body: rgb(245, 245, 244);
  --gray-900: #212121;

  /* Safari web: avoid the font weight in Safari web to be darker than the other browsers. */
  font-synthesis: none;
}

* {
  transition: all 100ms;
}
